@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: local("JetBrains Mono Regular"), local("JetBrainsMono-Regular"),
    url("../fonts/jetbrains-mono-regular.woff2") format("woff2"),
    url("../fonts/jetbrains-mono-regular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: local("JetBrains Mono Bold"), local("JetBrainsMono-Bold"),
    url("../fonts/jetbrains-mono-bold.woff2") format("woff2"),
    url("../fonts/jetbrains-mono-bold.ttf") format("truetype");
}

body,
code {
  font-family: "JetBrains Mono", monospace;
}
