@charset "utf-8";

@import "normalize";
@import "gruvbox";
@import "font";

body {
  font-weight: normal;
  line-height: 1.6em;
  min-height: 100vh;
  font-size: 16px;
}

body.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  article {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-transform: none;
    line-height: initial;
    font-size: 10em;
    margin: 0;
  }

  ul {
    margin: 0;
    margin-left: 1em;
    margin-top: 0.5em;
  }

  @media (max-width: 600px) {
    article {
      flex-direction: column;
    }
    h1 {
      font-size: 33vw;
    }
  }
}

body:not(.index) {
  h1::before {
    content: "# ";
  }
  h2::before {
    content: "## ";
  }
  h3::before {
    content: "### ";
  }
}

.container {
  margin: 0 auto;
  max-width: calc(640px + 4em);
  padding: 1em;
  overflow-x: hidden;
}

ul {
  padding-left: 1em;

  li::marker {
    content: "* ";
  }

  p {
    margin: 0;
  }
}

p {
  margin: 1em 0;
}

h1 {
  text-align: center;
}

h1,
h2,
h3 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1em;
}

pre {
  padding: 1em;
  border-radius: 5px;
  font-style: normal !important;
  line-height: 1.4;
}

a,
a:visited {
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

s {
  text-decoration-thickness: 1.5px;
}
