<footer>
  <span>Made with &hearts; in 2024-present</span>
  <a href="https://discord.com/users/1236265571591520271"><img src="https://viktorpopp.github.io/discord-icon.svg" alt="Discord icon SVG" style="position: fixed; bottom: 20px; right: 20px; width: 40px; height: auto;"></a>
</footer>
